.profile {
    flex: 0.5;
    border-right: 1px solid var(--twitter-color);
    min-width: fit-content;
    overflow-y: scroll;
}

.profile_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    border-bottom: 8px solid var(--twitter-background);
}

.profile::-webkit-scrollbar {
    display: none;
}